build/*
log/*
install/*
src/*
!src/moveit2_scripts
!src/closetbot
!src/closetbot-ai
src/closetbot/urdf/STL/00-B_Fix.stl
src/closetbot/urdf/STL/01-B_Rot.stl
src/closetbot/urdf/STL/02-In_1.stl
src/closetbot/urdf/STL/03-Join.stl
src/closetbot/urdf/STL/04-In_2.stl
src/closetbot/urdf/STL/05-EE.stl
src/closetbot/urdf/STL/06-Out_1.stl
src/closetbot/urdf/STL/07-Out_2.stl
src/closetbot/urdf/STL/M01-Suction.stl
src/closetbot/urdf/STL/M02-Gripper.stl
src/closetbot/urdf/STL/M02-GripperAxis.stl
src/closetbot/urdf/STL/M02-GripperFinger1.stl
src/closetbot/urdf/STL/M02-GripperFinger2.stl
src/closetbot/urdf/STL/M02-GripperFinger3.stl
src/closetbot/urdf/STL/M02-GripperFinger4.stl
src/closetbot/urdf/STL/M02-GripperFinger5.stl
src/closetbot/urdf/STL/M02-GripperMount.stl
src/closetbot/gazebo_worlds/blank
src/closetbot/gazebo_worlds/four_walls
src/closetbot/gazebo_worlds/yolo_test.world
src/closetbot/launch/__pycache__/gazebolaunch.launch.cpython-38.pyc
src/closetbot/launch/__pycache__/gazebolaunch.launch.cpython-310.pyc
src/closetbot/launch/__pycache__/move_group.launch.cpython-38.pyc
src/closetbot/launch/__pycache__/spawn_entity_demo.launch.cpython-38.pyc
src/closetbot/launch/__pycache__/view_robot.launch.cpython-38.pyc
src/closetbot/meshes/arm.STL
src/closetbot/meshes/base_link.STL
src/closetbot/meshes/egh_base.stl
src/closetbot/meshes/egh_finger.stl
src/closetbot/meshes/elbow.STL
src/closetbot/meshes/endeffector.STL
src/closetbot/meshes/grip.STL
src/closetbot/meshes/gripper.STL
src/closetbot/meshes/shoulder.STL
src/closetbot/meshes(copy)/arm.STL
src/closetbot/meshes(copy)/base_link.STL
src/closetbot/meshes(copy)/elbow.STL
src/closetbot/meshes(copy)/endeffector.STL
src/closetbot/meshes(copy)/grip.STL
src/closetbot/meshes(copy)/gripper.STL
src/closetbot/meshes(copy)/shoulder.STL
src/closetbot/meshes(copy)/cura_projects/bed_level.3mf
src/closetbot/meshes(copy)/cura_projects/CE3_full_arm_cura_project.3mf
src/closetbot/meshes(copy)/cura_projects/gears.3mf
src/closetbot/meshes(copy)/splits/arm/[Content_Types].xml
src/closetbot/meshes(copy)/splits/arm/arm.gcode
src/closetbot/meshes(copy)/splits/arm/arm1t.stl
src/closetbot/meshes(copy)/splits/arm/arm1t1.stl
src/closetbot/meshes(copy)/splits/arm/arm1t2.stl
src/closetbot/meshes(copy)/splits/arm/arm1t3.stl
src/closetbot/meshes(copy)/splits/arm/arm1t4.stl
src/closetbot/meshes(copy)/splits/arm/arm1t5.stl
src/closetbot/meshes(copy)/splits/arm/arm2t.stl
src/closetbot/meshes(copy)/splits/arm/cura_arm
src/closetbot/meshes(copy)/splits/arm/3D/3dmodel.model
src/closetbot/meshes(copy)/splits/arm/_rels/.rels
src/closetbot/meshes(copy)/splits/arm/Cura/base_0.4_PLA_standard.inst.cfg
src/closetbot/meshes(copy)/splits/arm/Cura/base_global_standard.inst.cfg
src/closetbot/meshes(copy)/splits/arm/Cura/Creality Ender-3_settings.inst.cfg
src/closetbot/meshes(copy)/splits/arm/Cura/Creality Ender-3_user.inst.cfg
src/closetbot/meshes(copy)/splits/arm/Cura/Creality Ender-3.global.cfg
src/closetbot/meshes(copy)/splits/arm/Cura/creality_base_extruder_0 #2_settings.inst.cfg
src/closetbot/meshes(copy)/splits/arm/Cura/creality_base_extruder_0 #2_user.inst.cfg
src/closetbot/meshes(copy)/splits/arm/Cura/creality_base_extruder_0 #2.extruder.cfg
src/closetbot/meshes(copy)/splits/arm/Cura/creality_base_extruder_0.def.json
src/closetbot/meshes(copy)/splits/arm/Cura/creality_ender3_0.4.inst.cfg
src/closetbot/meshes(copy)/splits/arm/Cura/creality_ender3.def.json
src/closetbot/meshes(copy)/splits/arm/Cura/generic_pla_175.xml.fdm_material
src/closetbot/meshes(copy)/splits/arm/Cura/preferences.cfg
src/closetbot/meshes(copy)/splits/arm/Cura/version.ini
src/closetbot/meshes(copy)/splits/arm/[Content_Types].xml
src/closetbot/.vscode/browse.vc.db
src/closetbot/.vscode/browse.vc.db-shm
src/closetbot/.vscode/browse.vc.db-wal
cuda-keyring_1.0-1_all.deb
src/moveit2_scripts/launch/__pycache__/test_trajectory2.launch.cpython-310.pyc
src/moveit2_scripts/launch/__pycache__/test_trajectory2.launch.cpython-38.pyc
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
