<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="DexArm_unofficial">
    <group name="arm_group">
        <!-- <joint name="bases"/> -->
        <!-- <joint name="B_Rot->In_1" /> -->
        <!-- <joint name="In_1->Join" /> -->
        <joint name="Join->In_2" />
        <!-- <joint name="In_2->EE" />
        <joint name="Join->Out_1" />
        <joint name="Join->Out_2" /> -->

        <!-- <joint name="EE->GripperMount"/> -->
        <!-- <joint name="EE->Suction"/> -->

        <!-- <joint name="GripperMount->GripperAxis"/> -->

        <!-- <joint name="GripperAxis->GripperFingerA1"/> -->
        <!-- <joint name="GripperFingerA1->GripperFingerA2"/> -->
        <!-- <joint name="GripperFingerA2->GripperFingerA3"/>
        <joint name="GripperFingerA3->GripperFingerA4"/>
        <joint name="GripperFingerA4->GripperFingerA5"/> -->

        <!-- <joint name="GripperAxis->GripperFingerB1"/> -->
        <!-- <joint name="GripperFingerB1->GripperFingerB2"/>
        <joint name="GripperFingerB2->GripperFingerB3"/>
        <joint name="GripperFingerB3->GripperFingerB4"/>
        <joint name="GripperFingerB4->GripperFingerB5"/> -->

        <!-- <joint name="GripperAxis->GripperFingerC1"/> -->
        <!-- <joint name="GripperFingerC1->GripperFingerC2"/>
        <joint name="GripperFingerC2->GripperFingerC3"/>
        <joint name="GripperFingerC3->GripperFingerC4"/>
        <joint name="GripperFingerC4->GripperFingerC5"/> -->
    </group>
    <group_state name="init_pose" group="arm_group">
        <!-- <joint name="bases"/> -->
        <!-- <joint name="B_Fix->B_Rot" value="0"/> -->
        <joint name="B_Rot->In_1" value="0" />
        <joint name="In_1->Join" value="0" />
        <!-- <joint name="Join->In_2" value="0" />
        <joint name="In_2->EE" value="0" />
        <joint name="Join->Out_1" value="0" />
        <joint name="Join->Out_2" value="0" /> -->

        <!-- <joint name="EE->GripperMount" value="0"/> -->
        <!-- <joint name="EE->Suction" value="0"/> -->
<!-- 
        <joint name="GripperMount->GripperAxis" value="0"/>
        
        <joint name="GripperAxis->GripperFingerA1" value = "0"/>
        <joint name="GripperFingerA1->GripperFingerA2" value = "0"/>
        <joint name="GripperFingerA2->GripperFingerA3" value = "0"/>
        <joint name="GripperFingerA3->GripperFingerA4" value = "0"/>
        <joint name="GripperFingerA4->GripperFingerA5" value = "0"/>

        <joint name="GripperAxis->GripperFingerB1" value = "0"/>
        <joint name="GripperFingerB1->GripperFingerB2" value = "0"/>
        <joint name="GripperFingerB2->GripperFingerB3" value = "0"/>
        <joint name="GripperFingerB3->GripperFingerB4" value = "0"/>
        <joint name="GripperFingerB4->GripperFingerB5" value = "0"/>

        <joint name="GripperAxis->GripperFingerB1" value = "0"/>
        <joint name="GripperFingerC1->GripperFingerC2" value = "0"/>
        <joint name="GripperFingerC2->GripperFingerC3" value = "0"/>
        <joint name="GripperFingerC3->GripperFingerC4" value = "0"/>
        <joint name="GripperFingerC4->GripperFingerC5" value = "0"/> -->
    </group_state>
    
    <virtual_joint name="virtual_joint" type="fixed" parent_frame="basic" child_link="B_Fix" />

    <disable_collisions link1="B_Fix"   link2="B_Rot" />
    <disable_collisions link1="B_Rot"   link2="In_1" />
    <disable_collisions link1="In_1"    link2="Join" />
    <disable_collisions link1="Join"    link2="In_2" />
    <disable_collisions link1="In_2"    link2="EE" />
    <disable_collisions link1="Join"    link2="Out_1" />
    <disable_collisions link1="Join"    link2="Out_2" />

    <disable_collisions link1="EE"   link2="GripperMount" />
    <disable_collisions link1="EE"   link2="Out_2" />
    <disable_collisions link1="Out_2"   link2="In_2" />
    <disable_collisions link1="In_2"   link2="In_1" />
    <disable_collisions link1="Out_1"   link2="B_Rot" />
    <disable_collisions link1="In_1"   link2="Out_1" />

    <disable_collisions link1="GripperMount"   link2="GripperAxis" />

    <disable_collisions link1="GripperAxis"    link2="GripperFingerA1" />
    <disable_collisions link1="GripperFingerA1"    link2="GripperFingerA2" />
    <disable_collisions link1="GripperFingerA2"    link2="GripperFingerA3" />
    <disable_collisions link1="GripperFingerA3"    link2="GripperFingerA4" />
    <disable_collisions link1="GripperFingerA4"    link2="GripperFingerA5" />

    <disable_collisions link1="GripperAxis"    link2="GripperFingerB1" />
    <disable_collisions link1="GripperFingerB1"    link2="GripperFingerB2" />
    <disable_collisions link1="GripperFingerB2"    link2="GripperFingerB3" />
    <disable_collisions link1="GripperFingerB3"    link2="GripperFingerB4" />
    <disable_collisions link1="GripperFingerB4"    link2="GripperFingerB5" />

    <disable_collisions link1="GripperAxis"    link2="GripperFingerC1" />
    <disable_collisions link1="GripperFingerC1"    link2="GripperFingerC2" />
    <disable_collisions link1="GripperFingerC2"    link2="GripperFingerC3" />
    <disable_collisions link1="GripperFingerC3"    link2="GripperFingerC4" />
    <disable_collisions link1="GripperFingerC4"    link2="GripperFingerC5" />

    <disable_collisions link1="GripperFingerA5"    link2="GripperFingerB5" />
    <disable_collisions link1="GripperFingerB5"    link2="GripperFingerC5" />
    <disable_collisions link1="GripperFingerC5"    link2="GripperFingerA5" />
</robot>